
<ion-grid>
  <ion-row >
    <ion-col *ngFor="let day of dayNames" text-center>{{ day }}</ion-col>
 

  </ion-row>
  <ion-row *ngFor="let week of weeks">

    <ion-col  *ngFor="let day of week" >
        <ion-card color="primary" *ngIf="day.mDate.format('dd') === 'Su'">
            <ion-card-content >
                {{ day.mDate.format('DD') }}
                {{ day.mDate.format('dd') }}
            </ion-card-content>
          
          </ion-card>
          <ion-card color="secondary" *ngIf="day.mDate.format('dd') !== 'Su'">
              <ion-card-content >
                  {{ day.mDate.format('DD') }}
                  {{ day.mDate.format('dd') }}
              </ion-card-content>
            
            </ion-card>
        
      
    </ion-col>
  </ion-row>
</ion-grid>
