<ion-grid>

  <ion-row text-center align-items-center>
    <ion-col size-xs="3">
      <ion-button (click)="prevMonth()" color="dark">
        <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size-xs="4">
      <ion-text>{{ currentDate.format('MMMM') + " " }}</ion-text>
      <ion-text>{{ currentDate.format('YYYY') }}</ion-text>
    </ion-col>
    <ion-col size-xs="3">
      <ion-button (click)="nextMonth()" color="dark">
        <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size-xs="2">
      <ion-button color="success" [routerLink]="['/members/add-event']">
        <ion-icon slot="start" name="add"></ion-icon>
        Add
      </ion-button>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col class="dayNames" *ngFor="let day of dayNames" text-center>{{ day }}</ion-col>
  </ion-row>

    <ion-row *ngFor="let week of weeks">
      <ion-col *ngFor="let day of week">
        <div (click)="onClickDay(day)" class="dayCase" *ngIf="day.isWeek" [ngClass]="{
          'weekDay': true,
          'hideDay' : !day.isSelectedMonth,
          'hover' :false,
          'today' : day.today
        }">
          <app-day-calendar [dayDate]="day" ></app-day-calendar>
        </div>
        <div (click)="onClickDay(day)" class="dayCase" *ngIf="!day.isWeek" [ngClass]="{
          'weekDay': false,
          'hideDay' : !day.isSelectedMonth,
          'hover' :true,
          'today' : day.today
        }">
          <app-day-calendar [dayDate]="day"></app-day-calendar>
        </div>
      </ion-col>
    </ion-row>

</ion-grid>