<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="members/home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Ajout d'évènement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Titre</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea type="text" formControlName="description"></ion-textarea>
      </ion-item>
      <ion-row>
        <ion-col size="3">
          <ion-item>
            <ion-label position="floating">Début</ion-label>
            <ion-datetime display-format="DD/MM/YYYY | HH:mm" pickerFormat="YYYY-MM-DDTHH:mm" type="date" formControlName="start_time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label position="floating">Fin</ion-label>
            <ion-datetime display-format="DD/MM/YYYY | HH:mm" pickerFormat="YYYY-MM-DDTHH:mm" type="date" formControlName="end_time"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Lieu</ion-label>
            <ion-input type="text" formControlName="location"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row><br>
      <ion-row>
        <ion-col size="6" text-center>
          <ion-button color="success" type="submit" [disabled]="!eventForm.valid">Valider</ion-button>
        </ion-col>
        <ion-col size="6" text-center>
          <ion-button color="danger" (click)="OnDelete()">Annuler</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>